<%- include('header'); %>
<div style="margin: 200px;">
<header>		
        <h1 class="text-center"><span class="badge bg-secondary">N</span>Talk</h1>
        <h4 class="text-center">Infelizmente essa página não existe...</h4>
        <hr>
        <p>Vamos voltar <a href='/'> para a página principal</a></p>
</header>
</div>
<%- include('footer'); %>